@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor;

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@ViewBag.FlavorsTreats.Count == 0)
{
  <p>No Treats in this Flavor!</p>
}
else
{
  <h4>Treat that have this Flavor:</h4>

  @foreach(var entry in ViewBag.FlavorsTreats)
  {
    int joinId = entry.FlavorTreatId;
    
    <li>@entry.Treat.Name </li>
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      @Html.Hidden("joinId", joinId)
      <input type="submit" value="Delete"class="btn btn-info btn-sm"/>
    }
  }
}

@Html.ActionLink("Back to list", "Index", new {}, new { @class = "btn btn-primary"})
@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId }, new { @class = "btn btn-primary"})
@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId }, new { @class = "btn btn-primary"})
